#[include shell_command.cfg]
[include mainsail.cfg]
#[include KAMP_Settings.cfg]
[include klicky-probe.cfg]
[include autoz.cfg]
[include bob-macros.cfg]

[exclude_object]


### uncomment for Manta m8p ###
#host MCU service is preinstalled and ready to use with:
#[mcu CB1]
#serial: /tmp/klipper_host_mcu

[mcu]
canbus_uuid: 060acfe09f45  ## octo-pro
#canbus_uuid: 4e7da242d0d8  ## manta-m8p
# serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1D00240011504B4633373520-if00

[mcu EBBCan]
#canbus_uuid: 7dc74210e1ad   ### octopus  pro ###
canbus_uuid: 2f8f4f95e186   ### manta m8p ###

[temperature_sensor raspberry_pi4b]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 

[temperature_sensor mcu_octopus-pro]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 100

[temperature_sensor EBB36] #the EBB36 can be any name you want as long as it doesn’t match any other named device.
sensor_type: temperature_mcu
sensor_mcu: EBBCan 
min_temp: 0
max_temp: 100



[printer]
kinematics: corexy
max_velocity: 600
max_accel: 10000
max_z_velocity: 5
max_z_accel: 100


[gcode_arcs]
resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.[exclude_object]


[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]


# This file contains common pin mappings for the BIGTREETECH Manta M8P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD12/PD13)".

# See docs/Config_Reference.md for a description of parameters.

### B Motor (gantry left) Motor0 octo-pro
### B Motor (gantry left) Motor1 manta-m8p
[stepper_x]
#step_pin: PE2 #manta-m8p
step_pin: PF13 #octo-pro
#dir_pin: PB4  #manta-m8p
dir_pin: PF12  #octo-pro
#enable_pin: !PC11  #manta-m8p
enable_pin: !PF14  #octo-pro
microsteps: 16
rotation_distance: 40
endstop_pin: ^EBBCan: PB8
position_endstop: 380
position_min: -10
position_max: 385
homing_speed: 150 #80
homing_retract_dist: 10
homing_positive_dir: true


### A Motor (gantry right) Motor1 octo-pro
### A Motor (gantry right) Motor2 manta-m8p
[stepper_y]
#step_pin: PF12  #manta-m8p
step_pin: PG0  #octo-pro
#dir_pin: !PF11  #manta-m8p
dir_pin: !PG1  #octo-pro
#enable_pin: !PB3 #manta-m8p
enable_pin: !PF15  #octo-pro
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
#endstop_pin: ^PF4  #manta-m8p
endstop_pin: ^PG9 #octo-prop
position_endstop: 385 #382
position_min: 0
position_max: 386 #382
homing_speed: 150 #80
homing_retract_dist: 5
homing_positive_dir: true


### Z Motor (Z) MOTOR 2_1 octo-pro
### Z Motor (Z) MOTOR 6 manta-m8p
[stepper_z]
#step_pin: PA10  #manta-m8p
step_pin: PF11  #octo-pro
#dir_pin: PA14  #manta-m8p
dir_pin: PG3  #octo-pro
#enable_pin: !PA15  #manta-m8p
enable_pin: !PG5  #octo-pro
microsteps: 128 #16 #32 #16
rotation_distance: 2 #8
position_min: -15.5
position_max: 400
#endstop_pin: ^PF5  #manta_m8p
endstop_pin: ^PG10  #octo-pro
##
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: 0
## All builds use same Max Z
homing_speed: 10.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 5
homing_retract_dist: 3


################################################
#### dir pin set reverse for creality mtrs #####
################################################

### Z Motor (Z_1) MOTOR 3 octo-pro
### Z Motor (Z_1) MOTOR 7 manta-m8p
[stepper_z1]
#step_pin: PD11  #manta-m8p
step_pin: PC13 #PG4  #octo-pro
#dir_pin: PD9  #manta-m8p
dir_pin: PF0 #PC1  #octo-pro
#enable_pin: !PD15  #manta-m8p
enable_pin: !PF1 #!PA0  #octo-pro
microsteps: 128 #16 #32 #16
rotation_distance: 2 #8
#...


### Z Motor (Z_2) MOTOR 4 octo-pro
### Z Motor (Z_2) MOTOR 8 manta-m8p
[stepper_z2]
#step_pin: PD8  #manta-m8p
step_pin: PF9  #octo-pro
#dir_pin: PC6  #manta-m8p
dir_pin: PF10  #octo-pro
#enable_pin: !PC7  #manta-m8p
enable_pin: !PG2  #octo-pro
microsteps: 128 #16 #32 #16
rotation_distance: 2 #8
#...


# Motor_XXXXX
# The M8P only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
#[stepper_]
#step_pin: PD3
#dir_pin: PD2
#enable_pin: !PD5
#endstop_pin: PC0
#...


[heater_bed]
#heater_pin: PB7  #manta-m8p
heater_pin:  PA1  #octo-pro
sensor_type: Generic 3950
#sensor_pin: PA0  ### manta-m8p ###
sensor_pin: PF3 ## octo-pro
#control: watermark
min_temp: 0
max_temp: 130


# [extruder]
# step_pin: PC9
# dir_pin: PC8
# enable_pin: !PD1
# microsteps: 16
# rotation_distance: 33.500
# nozzle_diameter: 0.4
# filament_diameter: 1.75
# heater_pin: PE3 # HE0
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PA1 # T0
# control: pid
# pid_Kp: 22.2
# pid_Ki: 1.08
# pid_Kd: 114
# min_temp: 0
# max_temp: 250

[fan]
pin: PE4

#[heater_fan fan1]
#pin: PE0

#[heater_fan fan2]
#pin: PC12

#[heater_fan fan3]
#pin: PE5

#[heater_fan fan4]
#pin: PE4

#[heater_fan fan5]
#pin: PB8
#tachometer_pin: PC14

#[heater_fan fan6]
#pin: PB9
#tachometer_pin: PC15

#[heater_fan SoC_fan]
#pin: CB1:gpio79
#pin: RPI:gpio26

#[filament_switch_sensor material_0]
#switch_pin: PC1
#[filament_switch_sensor material_1]
#switch_pin: PC2

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
#uart_pin: PC10  #manta-m8p
uart_pin: PC4  #octo_pro
interpolate: true
#diag_pin: PF3
run_current: 0.79
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_y]
#uart_pin: PF13  #manta-m8p
uart_pin: PD11 #octo-pro
interpolate: true
#diag_pin: PF4
run_current: 0.79
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z]
#uart_pin: PF8  #manta-m8p
uart_pin: PC6 #octo-pro
#interpolate: true
run_current: 0.600 #0.800
#sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z1]
#uart_pin: PD14  #manta-m8p
uart_pin: PE4 #PC7  #octo-pro
#interpolate: true
run_current: 0.600 #0.800
#sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z2]
#uart_pin: PD10  #manta-m8p
uart_pin: PF2  #octo-pro
#interpolate: true
run_current: 0.600 #0.800
#sense_resistor: 0.110
stealthchop_threshold: 0

[probe]
pin: EBBCan:PB6 # Set the Octopus jumper to 5v instead of the default 24v!
x_offset: 0
y_offset: 0
#z_offset: 5
speed: 2.5
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.01
samples_tolerance_retries: 5

# [safe_z_home]
# ##	XY Location of the Z Endstop Switch
# ##	Update -10,-10 to the XY coordinates of your endstop pin 
# ##	(such as 157,305) after going through Z Endstop Pin
# ##	Location Definition step.
# home_xy_position:165,374
# speed:100
# z_hop:20

[bed_mesh]
speed: 200 #120
horizontal_move_z: 15
mesh_min: 20, 24
mesh_max: 340, 310 # Ender 5 Plus
probe_count: 7,7
zero_reference_position: 175,177
mesh_pps: 2,2
fade_start: 1
fade_end: 10
algorithm: bicubic
bicubic_tension: 0.2



[z_tilt]
z_positions: 
  53,29  #10,7
  188,305  #188,355
  317,29  #360,7
  
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:
  53,29  #10,7
  188,305  #88,325
  317,29  #360,7

#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 200 #50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 35
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 20
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.025
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

[neopixel TopL_LED]
pin: PB15 # Example pin for Port 1, check your M8P docs
chain_count: 18   # Number of LEDs in this strip
color_order: GRB   # Or RGB, RGBW, etc., check your strip
initial_RED: 0.4
initial_GREEN: 0.4
initial_BLUE: 0.4

[neopixel TopR_LED]
pin: PA9 # Example pin for Port 2 (e.g., a spare pin)
chain_count: 18    # Number of LEDs in this strip
color_order: GRB
initial_RED: 0.4
initial_GREEN: 0.4
initial_BLUE: 0.4

#[neopixel my_neopixel]
#pin: PA9
#   The pin connected to the neopixel. This parameter must be
#   provided.
#chain_count: 18
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB #   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
#initial_RED: 0.8
#initial_GREEN: 0.8
#initial_BLUE: 0.8
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[bltouch]
#sensor_pin: PB2
#control_pin: PB1

# Proximity switch
#[probe]
#pin: PF6

#[output_pin ps_on_pin]
#pin: PC3

#[output_pin pc13_pin]
#pin: PC13

#[neopixel my_neopixel_1]
#pin: PA9

#[neopixel my_neopixel_2]
#pin: PB15

#[hall_filament_width_sensor]
#adc1: PC5
#adc2: PB0

#[adxl345]
#cs_pin: PC4
#spi_bus: spi1

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
pressure_advance: 0.045
max_extrude_only_distance: 101
rotation_distance: 3.582
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 270

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
stealthchop_threshold: 999999


# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2


[fan]
pin: EBBCan: PA1

[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50.0

#[temperature_fan manta_board_fan]
##pin: PE6
#cycle_time: 0.0001
# Use any available thermistor
#sensor_type: MCU_temp 
#control: watermark 
#target_temp: 1.0 # This low temp ensures it is always trying to cool
#max_speed: 1.0
#min_speed: .9 # Forces it to run at full speed constantly#[fan_generic manta-board_fan]
#min_temp: 1
#min_temp: 100

#[static_digital_output board_fan_always_on]
#pin: PE6
##value: 1


#[neopixel hotend_rgb]
#pin: EBBCan:PD3


#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3


# MACROS

[gcode_macro Z_CAL]
gcode:
    G28
    calibrate_z

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.582
#*# pid_ki = 1.296
#*# pid_kd = 89.836
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.293
#*# pid_ki = 0.660
#*# pid_kd = 1665.619
#*#
#*# [stepper_z]
#*# position_endstop = 3.421
#*#
#*# [probe]
#*# z_offset = 11.025
#*#
#*# [bed_mesh Bob_first-mesh]
#*# version = 1
#*# points =
#*# 	2.653125, 2.799375, 2.809375, 2.827500, 2.815625
#*# 	2.598750, 2.727500, 2.758125, 2.781875, 2.725000
#*# 	2.452500, 2.576875, 2.595000, 2.646250, 2.592500
#*# 	2.380000, 2.521875, 2.564375, 2.570000, 2.504375
#*# 	2.234375, 2.354375, 2.419375, 2.414375, 2.308125
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 340.0
#*# min_y = 24.0
#*# max_y = 310.0
#*#
#*# [bed_mesh 010926]
#*# version = 1
#*# points =
#*# 	4.040000, 4.145625, 4.125000, 4.114375, 4.078750
#*# 	4.008750, 4.106250, 4.110625, 4.109375, 4.026875
#*# 	3.893125, 3.993125, 3.985000, 4.010625, 3.933125
#*# 	3.871250, 3.981250, 3.992500, 3.969375, 3.874375
#*# 	3.763125, 3.853750, 3.888750, 3.853125, 3.723125
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 340.0
#*# min_y = 24.0
#*# max_y = 310.0
#*#
#*# [bed_mesh 010926-heaton]
#*# version = 1
#*# points =
#*# 	4.096875, 4.215625, 4.202500, 4.185625, 4.133125
#*# 	4.085000, 4.190000, 4.193750, 4.180625, 4.076875
#*# 	3.971250, 4.078750, 4.077500, 4.088750, 3.971250
#*# 	3.932500, 4.070625, 4.077500, 4.056250, 3.921250
#*# 	3.813125, 3.926250, 3.968750, 3.922500, 3.765625
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 340.0
#*# min_y = 24.0
#*# max_y = 310.0
#*#
#*# [bed_mesh default-1]
#*# version = 1
#*# points =
#*# 	5.209375, 5.285000, 5.293750, 5.313125, 5.236250
#*# 	5.170000, 5.311250, 5.286875, 5.271250, 5.207500
#*# 	5.116250, 5.200000, 5.154375, 5.218125, 5.123750
#*# 	5.079375, 5.183750, 5.205625, 5.193750, 5.110000
#*# 	4.975000, 5.067500, 5.110625, 5.110625, 4.975625
#*# min_x = 20.0
#*# max_x = 340.0
#*# min_y = 24.0
#*# max_y = 310.0
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.083608, -0.113267, -0.131392, -0.185142, -0.092017, -0.063892, -0.002642
#*# 	0.204233, 0.019233, -0.043892, -0.052017, -0.013892, 0.030483, 0.110483
#*# 	0.257358, 0.062983, -0.007017, -0.027017, -0.019517, 0.011108, 0.094233
#*# 	0.298608, 0.104858, 0.031108, -0.006392, -0.021392, -0.002017, 0.061108
#*# 	0.373608, 0.176108, 0.088608, 0.010483, -0.003892, -0.027642, 0.039233
#*# 	0.425483, 0.230483, 0.129858, 0.026733, -0.010767, -0.054517, -0.020142
#*# 	0.404233, 0.215483, 0.134858, 0.061733, 0.017983, -0.028892, -0.038267
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 339.98
#*# min_y = 24.0
#*# max_y = 309.9599999999999
#*#
#*# [bed_mesh default-2222]
#*# version = 1
#*# points =
#*# 	0.040000, 0.142500, 0.168750, 0.134375, 0.142500, 0.072500
#*# 	0.136250, 0.232500, 0.280000, 0.271875, 0.251875, 0.161250
#*# 	0.170000, 0.273125, 0.305000, 0.282500, 0.295625, 0.199375
#*# 	0.178125, 0.316875, 0.329375, 0.340000, 0.343750, 0.236250
#*# 	0.261250, 0.392500, 0.421250, 0.421250, 0.411250, 0.336250
#*# 	0.176875, 0.326250, 0.420625, 0.415625, 0.420000, 0.304375
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 340.0
#*# min_y = 24.0
#*# max_y = 310.0
#*#
#*# [bed_mesh default-$]
#*# version = 1
#*# points =
#*# 	-0.037500, 0.085000, 0.121250, 0.096250, 0.095625, 0.005625
#*# 	0.133750, 0.246875, 0.297500, 0.279375, 0.250625, 0.136250
#*# 	0.196875, 0.320625, 0.373125, 0.350000, 0.351875, 0.223125
#*# 	0.314375, 0.428125, 0.450000, 0.454375, 0.440625, 0.309375
#*# 	0.426250, 0.532500, 0.582500, 0.580625, 0.558125, 0.414375
#*# 	0.493750, 0.666250, 0.696250, 0.650000, 0.580000, 0.421875
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 340.0
#*# min_y = 24.0
#*# max_y = 310.0
#*#
#*# [bed_mesh defaulttttt]
#*# version = 1
#*# points =
#*# 	0.731875, 0.881875, 0.936250, 0.910625, 0.902500, 0.792500
#*# 	0.715000, 0.870000, 0.936875, 0.931250, 0.898750, 0.767500
#*# 	0.628750, 0.790625, 0.846250, 0.840625, 0.828125, 0.683750
#*# 	0.523750, 0.714375, 0.747500, 0.768750, 0.746250, 0.599375
#*# 	0.468750, 0.652500, 0.723750, 0.715000, 0.695625, 0.513750
#*# 	0.357500, 0.525000, 0.601875, 0.581250, 0.533750, 0.351875
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 340.0
#*# min_y = 24.0
#*# max_y = 310.0
#*#
#*# [bed_mesh default-1234]
#*# version = 1
#*# points =
#*# 	0.086250, 0.244375, 0.300625, 0.258750, 0.270000, 0.135000
#*# 	0.067500, 0.220000, 0.283125, 0.289375, 0.251875, 0.111250
#*# 	-0.012500, 0.151875, 0.201875, 0.206875, 0.185625, 0.023125
#*# 	-0.081250, 0.076875, 0.123125, 0.156875, 0.109375, -0.032500
#*# 	-0.121250, 0.055625, 0.090625, 0.110625, 0.042500, -0.123125
#*# 	-0.239375, -0.090625, -0.026875, -0.046250, -0.091875, -0.268125
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 340.0
#*# min_y = 24.0
#*# max_y = 310.0
#*#
#*# [bed_mesh default-5432]
#*# version = 1
#*# points =
#*# 	0.062500, 0.128750, 0.157500, 0.156250, 0.136250, 0.070000
#*# 	-0.001250, 0.109375, 0.158125, 0.144375, 0.102500, 0.015625
#*# 	-0.025625, 0.088750, 0.141875, 0.133750, 0.065000, -0.038125
#*# 	-0.038125, 0.056875, 0.106875, 0.100000, 0.036250, -0.090000
#*# 	0.005000, 0.070000, 0.080625, 0.048125, -0.020000, -0.152500
#*# 	0.013750, 0.055000, 0.055000, 0.011875, -0.086875, -0.232500
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 340.0
#*# min_y = 24.0
#*# max_y = 310.0
